body {
	background-image: url("https://www.google.com/search?q=soccer+ball&rlz=1CAACAJ_enUS698US698&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjdt7ytw8HXAhUJwYMKHSiUDzQQ_AUICigB&biw=1366&bih=654#imgrc=8c0npAiAKAT37M:");
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-family: Palatino, 'Palatino Linotype', serif;
color: #7FDBFF;
}
.hero {
  background-size: cover;
  padding: 250px 0;
	margin: 30px;
color:#ffffff
}
